<% provide(:user, 'employee') %>
<% provide(:title,'Edit Employee')%>


<% if logged_in? %>

  <h1>Welcome
    <%= current_employee.name %>
  </h1>

  <h3>Update Details</h3>

  <div class="row">
    <div class="col-md-6 float-left">
      <%= form_for(@employee) do |f| %>
        <%= image_tag @employee.image.url, :class => 'img1' unless @employee.image.blank? %>
      
        <%= f.label :id ,"Employee Id"%>
        <%= f.text_field :id, :value => ("RP#{@employee.id}"), class: 'form-control',readonly:"readonly" %>
        
        <%= f.label :designation %>
        <%= f.text_field :designation, class: 'form-control',readonly:"readonly" %>

        <%= f.label :email %>
        <%= f.email_field :email, class: 'form-control',readonly:"readonly" %>
        
        <%= f.label :dateofjoin ,"Date of Join"%>
        <%= f.date_field :dateofjoin, class: 'form-control',readonly:"readonly" %> 
        
        <%= f.label :username %>
        <%= f.text_field :username, class: 'form-control',readonly:"readonly" %>
        
        <%= f.label :dateofbirth,"Date of Birth" %>
        <%= f.date_field :dateofbirth, class: 'form-control' %>
        
        <%= f.label :personalemail,"Personal Email" %>
        <%= f.email_field :personalemail, class: 'form-control' %>
        
        <%= f.label :image,"Profile Pic"%>
        <%= f.file_field :image,class: 'form-control' %>

        <%= f.submit "Update", class: "btn btn-primary" %>
      
      <% end %>
    </div>

    <%= link_to "Details from facebook", '/auth/facebook'%>

    <% if params['fb'] %>
    <div class="col-md-6 float-right">
      <%= image_tag @user['picture']['data']['url'].to_s %>
      <%= @user['name'] %><br/>
      <%= @user['email'] %><br/>
      <%= @user['birthday'] %><br/>
      <%#= @user['hometown']['name'] %><br/>
      <%= @user['location']['name'] %><br/>
      <%= @user['posts']['data'][0]['message'] || @user['posts']['data'][0]['story'] %>
    </div>
    <% end %>

  </div>
<% end %>

<script>
window.fbAsyncInit = function () {
  FB.init({
    appId: '159024424735477',
    xfbml: true,
    version: 'v2.11'
  });
  FB.AppEvents.logPageView();
};

(function (d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) { return; }
  js = d.createElement(s); js.id = id;
  js.src = "https://connect.facebook.net/en_US/sdk.js";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));
</script> 