<% provide(:user, 'admin') %>
<% provide(:title,'Show Employee')%>
<%= image_tag @employee.image.thumb.url unless @employee.image.blank?%>
<table class="table table-striped">

  <tr>
    <td>Employee Id</td>
    <td>
      RP<%= @employee.id%>
    </td>
  </tr>
  <tr>
    <td>Name</td>   
    <td>
      <%= @employee.name %>
    </td>
  </tr>
  <tr>
    <td>Email</td>
    <td>
      <%= @employee.email %>
    </td>
  </tr>
  <tr>  
    <td>Designation</td>
    <td>
      <%= @employee.designation %>
    </td>
  </tr>
  <tr>
    <td>Address</td>
    <td>
      <%= @employee.address %>
    </td>
  </tr>
  <tr>
    <td>Username</td>
    <td>
      <%= @employee.username%>
    </td>
  </tr>
  <tr>
    <td>Personal Email</td>
    <td>
      <%= @employee.personalemail%>
    </td>
  </tr>
  <tr>
    <td>Date of Join</td>
    <td>
      <%= @employee.dateofjoin %>
    </td>
  </tr>
  <tr>
    <td>Date of Birth</td>
    <td>
      <%= @employee.dateofbirth %>
    </td>
  </tr>
  <tr>
    <td>Active</td> 
    <td>
      <%= @employee.active%>
    </td>
  </tr>
  <tr>
    <td>Phone</td>
    <td>
      <%= @employee.phone%>
    </td>
  </tr>

</table>